
thead{
color:rgb(25, 21, 236)
}
.example-form-field {
  width: 200px;
}

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
