

    <mat-card>
        <mat-card-header>{{pageTitle}}</mat-card-header>
           <mat-card-content> 

            <mat-form-field  appearance="fill" fxFlex="50" class="mt-1">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" [(ngModel)]="filterWord">
                 <button *ngIf="filterWord" matSuffix mat-icon-button aria-label="Clear" (click)="filterWord=''"> 
                  <mat-icon>close</mat-icon>
                </button> 
              </mat-form-field>
              
          </mat-card-content>
      </mat-card>
      


    <div class="card-body">
        <div class="row">
          <div class="col-md-2"> Filter by: </div>
           <div class="col-md-2"><input type="text" [(ngModel)]="filterWord"></div> <!--find the filterList first then find set method-->
        </div>
        <div class ="row">
            <div class="col-md-6">
                <h4> Filtered by: {{filterWord}}</h4><!--find the filterList first then find get method-->
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class ="table" *ngIf ='products.length'>
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" 
                        (click) ='toggleImage()'>
                            {{showImage?'Hide':'Show'}} Image
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Stars Rating</th>
                    <th>Action</th>
                </tr>
            </thead>
             <tbody>
                <tr *ngFor='let product of filterdProducts'>
                    <td ><img *ngIf='showImage' [src]='product.imageUrl'
                              [title]='product.productName'
                              [style.width.px]='imageWidth'
                              [style.margin.px]='imageMargin'
/>
                            </td>
                    <td>{{product.productName | uppercase}}</td>
                    <td>{{product.productCode | replaceChar:"-":" "}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td>{{product.price| currency :'AUD':'symbol':'1.2-2'}}</td>
                    <td>
                        <!-- <pm-star [starRating]="product.starRating"
                      ></pm-star> -->
                    </td>
                    <td> <button class="btn btn-primary" (click)="openDetails()"> Check Details</button></td>
                </tr>
             </tbody>
        </table>
    </div>

